/* Styles for page file */

/* Navigation */
nav.page{
    background-color: rgb(46, 30, 1);
    justify-content: space-between;
    min-height: 230px;
    
}

nav.page>ul>li{
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    font-size: medium;
    color: white;
    margin-right: 50px;
}

nav.page>ul>li.topOne{
margin-left: 55%;

}


nav.page>ul>li.connect>button{
    border: 3px yellow;
    color: black;
    background-color: rgb(255, 166, 0);
    padding: 5px 20px 10px 20px;
    border-radius: 0px 15px 0px 0px;
}
nav.page>div.topic{
    color: grey;
    width: 100%;
    margin-left:15px;
    display: flex;
    flex-direction:row;
}

nav.page>div.topic>h2#dollars{
    color: white;
    margin-left: 80%;
    font-style: italic;
    font-weight: 200;
    
}

nav.page>div.topic>h2#dollars>span{
    font-size: small;
    margin-left: 30px;
}

nav.page>div.topic>h2.modern,p{
 color: white;
 
}

nav.page>div.topic>p{
 padding: 0% 0% 5% 0%; 
 color: grey;  
}

/* Front section */ 

section.front>div.two>img{
    max-width: 100%;
    height: 400px;
}

section.front>.side{
    float: right;
    flex-direction: column;
    align-items: center;
    display:flex;
}