body{
    max-width: 100%;
    max-height: 100%;
}

/* Section Navigation */

nav{
    background-image: url("../images/moving\ 1.png");
    padding: 0;
    justify-content: space-between;
    background-size: cover;
    opacity: 1.1;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;

}


nav.links>ul>li{
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    font-size:auto ;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}


nav.links>ul>li.Home{
    margin-left: 40%;
    color: white;
    margin-right: 2%;
}

nav.links>ul>li.start{
    color: white;
    margin-right: 2%;
}

nav.links>ul>li.startM>a{
    color: white;
    text-decoration: none;
}

nav.links>ul>li#logo{
color: black;
padding: 3px;
border: 10px yellow;
background-color: yellow;
border-radius: 0px;
}

nav.links>ul>li.logoTwo{
color: yellow;
border: 1px black;
background-color: black;
padding: 3px;
margin-left: 3%;
}

nav.links>div.comments>p{
    color: yellow;
    margin-top: 50px;
    font-size: 40px;
    margin-left: 60px;
}

nav.links>div#text>p{
    color: thistle;
    font-size: 20px;
    margin-left: 60px;
    font-size:30px ;
}

/* Section Body */

section.body{
    justify-content: space-between;
    max-width: 100%;
    
}

section.body>img{
    height: 500px;
    margin-top: 30px;
    max-width: 100%;

}

section.body>div.sect1{
    float: right;
    margin-top:70px;
    margin-right: 25%;
    font-size: 40px;
    
}

section.body>div.sect1>hr{
    margin-right: 70%;
    height:2px; 
    width: 100px;
    border: 0 ;
    background-color: grey;
    
}



section.body>div.sect1>h2.head{
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 0px 0px 0px;
    font-style: italic;
    font-weight: 100;
}

section.body>div.sect1>p.sect2{
    font-size: large;
    font-style: unset;
    color: gray;
    font-size: 25px;
}
section.body>div.sect1>button#sect3{
    padding: 10px;
    border-left: 15px;
    background-color:black;
    color: yellow;
    border-radius: 0px 15px 0px 0px;
    font-size: 20px;
    
}

/* Section final */

section.final{
    background-color: whitesmoke;
    margin-top: 30px;
    background-attachment: fixed;
    min-height: 500px;
    background-position: 15%;
}

section.final>div.finSect>#line{
    margin-right: 80%;
    height:2px; 
    width: 100px;
    border: 0 ;
    background-color: maroon;
    padding: 0px 0px 0px 0px;
    
}

section.final>div.finSect>.point{
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 0px 0px 0px;
    font-style: italic;
    font-weight: 100;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 5%;
}



section.final>div.image>div>.one,.two,.three,.four,.five,.six{
    display: inline;
    align-items: center;
    max-width: 100%;
    height: 200px;
    justify-content: space-between;
    margin: 5px;
    
}
/* Section bottom */

section.bottom{
    background-color: black;
    
}

section.bottom>div.bottomLine>h3.part1{
color: white;
padding:20px;
margin-left: 90px;
font-style: italic;
font-size:30px;
}

section.bottom>div.bottomLine>h3.part1>span.last{
    color: yellow;
}

