body{
    max-width: 100%;
    max-height: 100%;
}

nav{
    background-image: url("../images/moving\ 1.png");
    padding: 0;
    justify-content: space-between;
    background-position: center center center;
    background-attachment: fixed;
    background-size: contain;
    min-height:490px;
    opacity: 1.1;
    background-repeat: no-repeat;
    min-width: 100%;

}


nav.links>ul>li{
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    font-size:auto ;
    justify-content: space-between;
    align-items: center;
}


nav.links>ul>li.Home{
    margin-left: 30%;
    color: white;
    margin-right: 2%;
}

nav.links>ul>li.start{
    color: white;
    margin-right: 2%;
}

nav.links>ul>li#logo{
color: black;
padding: 3px;
border: 10px yellow;
background-color: yellow;
border-radius: 0px;
}

nav.links>ul>li.logoTwo{
color: yellow;
border: 1px black;
background-color: black;
padding: 3px;
margin-left: 3%;
}

nav.links>div.comments>p{
    color: yellow;
    margin-top: 50px;
    font-size: 40px;
    margin-left: 60px;
}

nav.links>div#text>p{
    color: thistle;
    font-size: 20px;
    margin-left: 60px;
}

section.body{
    justify-content: space-between;
    
}

section.body>img{
    height: 300px;
    margin-top: 30px;
    max-width: 100%;

}

section.body>div.sect1>hr{
    margin-right: 70%;
    height:2px; 
    width: 100px;
    border: 0 ;
    background-color: grey;
    

}

section.body>div.sect1{
    float: right;
    margin-top:70px;
    margin-right: 25%;
    
}

section.body>div.sect1>h2.head{
    font-family:'Times New Roman', Times, serif ;
    text-shadow: 0px 0px 0px;
    font-style: italic;
    font-weight: 100;
}

section.body>div.sect1>p.sect2{
    font-size: large;
    font-style: unset;
    color: gray;
}
section.body>div.sect1>button#sect3{
    padding: 10px;
    border-left: 15px;
    background-color:black;
    color: yellow;
    border-radius: 0px 15px 0px 0px;
    
}
